<li {{_get_attributes(_attr)}}>
{% if active %}
    <span><twig:BreadcrumbItemIcon :icon="icon" />{{ label | trans({}, domain, lang) }}</span>
{% else %}
    <a href="{{ url(route) }}"><twig:BreadcrumbItemIcon :icon="icon" />{{ label | trans({}, domain, lang) }}</a>
{% endif %}
</li>